@keyframes slide-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-slow {
  display: flex;
  animation: slide-slow 40s linear infinite; /* 👈 más lento */
}