@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-dark: #0B0B0C;
}
body {
  background-color: var(--color-bg-dark);
  color: white;
}

html {
  scroll-behavior: smooth;
}

.parallax-image {
  will-change: transform;
  transition: transform 0.2s ease-out;
}

@keyframes slide-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-slow {
  display: flex;
  animation: slide-slow 40s linear infinite; /* 👈 más lento */
}