@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: #202425;
}


html {
  scroll-behavior: smooth;
}

.parallax-image {
  will-change: transform;
  transition: transform 0.2s ease-out;
}

@keyframes slide-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-slow {
  display: flex;
  animation: slide-slow 40s linear infinite; /* 👈 más lento */
}